#search {
    font-size: 1.2em;
    padding: .2em .5em;
    border-radius: 5px 0 0 5px;
}
#search-btn {
    font-size: 1em;
    padding: .2em .5em;
    border-radius: 0 5px 5px 0;
}

.tabs{
    background-color: white;
    display: flex;
}
.tablink{
    font-size: 1em;
    padding: .8em 1em ;
    background-color: transparent;
    color: rgb(199,199,199);
    border: 0;
    border-bottom: 3px solid rgb(199,199,199);
}
.active {
    border-bottom: 3px solid black;
    color: black;
    font-weight: 800;
}